
*,
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Don’t force margin/padding to 0 everywhere */
body {
  margin: 0;
  padding: 0;
}


a {
	text-decoration: none;
	color: inherit;
	display: inline-flex;
	cursor: pointer;
}

img {
	max-width: 100%;
	vertical-align: top;
	height: auto;
}
