$font-bold: "Grotesk-Bold", sans-serif;
$font-medium: "Grotesk-Medium", sans-serif;

$color-black: #111;
$color-white: #111;

$default-transition: all .5s ease;

$z-header: 4;
$z-mask: 6;
$z-preloader: 8;
$z-animationbg: 2;
$z-animation: 1;